<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Producers</title>
</head>
<body>
<a th:href="@{/add-producer}">Add Producer</a>
<table border="1">
    <tr>
        <th>#</th>
        <th>Producer</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="producer,iterator : ${producers}">
        <td th:text="${iterator.index+1}"></td>
        <td th:text="${producer.name}"></td>
        <td><a th:href="${'/change/' + producer.id}" >/</a></td>
        <td><a th:href="${'/delete/' + producer.id}" >X</a></td>
    </tr>
</table>
</body>
</html>
